name = input("Your name full name plaease : ")
Birth_day = input("Enter your birth day: ")
Current_year = input("Enter Current Year: ")

Birth_day = int(Birth_day)
Current_year = int(Current_year)

print(name,"Is your name ?")
sure = input("Is all data given by you are right?")
print("Your age is : ",Current_year-Birth_day,
)

# Now Date is : 3 july 2022 , Mobile charge have 5% , For any kind of Help you can mail me *** arif4737893@gmail.com**
